<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>게시물 수정 페이지</title>
    <link rel="stylesheet" th:href="@{/css/write.css}">
</head>
<body>
<h1>게시물 수정</h1>
<form th:action="@{/boards/edit/{id}(id=${board.id})}" method="post" th:object="${board}">
    <div>
        <label for="name">Name </label>
        <input type="text" id="name" th:field="*{name}">
    </div>

    <div>
        <label for="title">Title </label>
        <input type="text" id="title" th:field="*{title}">
    </div>

    <div>
        <label for="content">Content </label>
        <textarea id="content" th:field="*{content}"></textarea>
    </div>

    <div>
        <label for="password">Password </label>
        <input type="password" id="password" name="password" required>
    </div>
    <div th:if="${error}">
        <span th:text="${error}" th:class="${error}"></span>
    </div>

    <input type="submit" th:value="UPDATE">
</form>
</body>
</html>