<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>게시물 상세 페이지</title>
    <link rel="stylesheet" th:href="@{/css/view.css}">
</head>
<body>
<div class="title">
    <h2 th:text="${board.title}">게시물 제목</h2>
</div>
<div>
    <strong>작성자 </strong> <span th:text="${board.name}">name</span>
</div>
<div>
    <span th:text="${board.content}"></span>
</div>
<div>
    <span th:if="${board.updated_at != null}" th:text="${#temporals.format(board.updated_at, 'yyyy/MM/dd HH:mm')}"></span>
    <span th:unless="${board.updated_at != null}" th:text="${#temporals.format(board.created_at, 'yyyy/MM/dd HH:mm')}"></span>
</div>
<div class="a-box">
    <a th:href="@{/boards}">HOME</a>
    <a th:href="@{/boards/edit/{id}(id=${board.id})}">UPDATE</a>
    <a th:href="@{/boards/delete/{id}(id=${board.id})}">DELETE</a>
</div>
</body>
</html>